/* roboto-regular - latin */
@font-face {
  font-family: 'Chivo Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap')
       url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap')
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Chivo Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap')
       url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap')

/*"Helvetica Neue", Helvetica, Arial, */

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Chivo Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Chivo Mono', monospace;
  color: white
}

h1,h2,h3 {
  font-family: 'Chivo Mono', monospace;
  color: white
}

code {
  font-family: 'Chivo Mono', monospace;
  color: white
}
